<div class="entry">
    <h1>Kontakti</h1>
    <div>
        <div class="fiftififti">
            <div class="left1">
                <div class="container">
                    <form action='mailto:matija.ljubicic@gmail.com?subject=subject&body=body'>

                        <label for="fname">Ime i prezime</label>
                        <input type="text" id="fname" name="firstname" placeholder="Upišite Vaše ime i prezime">

                        <label for="lname">EMail adresa</label>
                        <input type="text" id="lname" name="lastname" placeholder="Upišite Vašu email adresu">

                        <label for="subject">Pošaljite nam upit</label>
                        <textarea id="subject" name="subject" placeholder="Pošaljite nam upit..." style="height:200px"></textarea>

                        <input type="submit" value="Submit">

                    </form>
                </div>
            </div>
            <div class="right1">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker includi
            </div>
        </div>
    </div>
</div>