<div class="entry">
    <h1>Kontakti</h1>
    <div>
        <div class="fiftififti">
            <div class="left1">
                <div class="container">
                    <form action="mailto:matija.ljubicic@gmail.com" method="post" enctype="text/plain">

                        <label for="name">Ime i prezime</label>
                        <input type="text" id="name" name="name" placeholder="Upišite Vaše ime i prezime">

                        <label for="email">Email adresa</label>
                        <input type="text" id="email" name="email" placeholder="Upišite Vašu email adresu">

                        <label for="subject">Pošaljite nam upit</label>
                        <textarea id="subject" name="subject" placeholder="Pošaljite nam upit..." style="height:200px"></textarea>

                        <input type="submit" value="Pošalji">

                    </form>
                </div>
            </div>
            <div class="right1">
                Matija Ljubičić Kreševska 12 10000 Zagreb 091/98-61-845 'mailto:matija.ljubicic@gmail.com'
            </div>
        </div>
    </div>
</div>