<div class="entry">
    <h1>Galerija radova</h1>
    <div>
        <h2>Caddy</h2>
        <img src="https://picsum.photos/200/300/?random" />
        <img src="https://picsum.photos/200/300/?random" />
    </div>
</div>