@import url('about.css');
@import url('kemijsko.css');

@font-face {
    font-family: 'mojfont';
    src: url('mojfont.ttf')  format('truetype')
  }

body{
   /* background-image: url('http://www.guoguiyan.com/data/out/20/69025654-big-wallpapers.png');
*/  background-color: white;
    font-family: mojfont;

}


.layout {
    width: 80%;
    min-width: 512px;
    max-width: 1920px;
    margin: 0 auto;
    display: grid;
}

.main-nav {
    background-color: red;
    height: 100px;
}

.paragraph {
    color: red;
}

.jedinstveno {
    border: solid 1px blue;
    grid-area: nav;
    width: 90%;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(209, 156, 156);
    overflow: hidden;
    list-style: none;

    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 8px 0;

}

/* Style the links inside the navigation bar */
.topnav a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: white;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: rgb(31, 74, 218);
    color: black;
}

/* Add a color to the active/current link */

.topnav a.active {
    background-color: rgb(251, 255, 0);
    color: white;
}
