body{
    background-image: url('http://www.guoguiyan.com/data/out/20/69025654-big-wallpapers.png');
}


.layout {
    width: 80%;
    min-width: 512px;
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 'main main main main'
        'linkovi'
        'sidenav content content content'
    ;
}

.main-nav {
    background-color: red;
    height: 100px;
    grid-area: main;
}

.side-nav {
    border-right: solid 1px blue;
    grid-area: sidenav;
    width: 100px;
    height: 600px;
}

.content {
    grid-area: content;
    height: 600px;    
}
.jedinstveno {
    border-right: solid 1px blue;
    grid-area: sidenav;
    width: 90%;
}